/*text*/

h1 {
  color: #1C2833;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

h2 {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 22px;
}

h3 {
font-family: 'Open Sans', sans-serif;
font-style: italic;
font-weight: bold;
font-size: 14px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #b49759;
}

li {
font-family: 'Open Sans', sans-serif;
font-weight: 400;
padding-left: 12px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.blockquote {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #909497;
  list-style-type: none;
}

element.style {
    text-align: center;
    color: #FFF;
    line-height: 30px;
    width: 200px;
    margin: 10px;
}


blockquote {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #909497;
  list-style-type: none;
}


#text {
  padding-left: 20px;
  padding-right: 20px;
}

#text a {
  text-decoration: none;
}

#welcome {
  width: 100%;
  text-align: center;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

footer p {
font-family: 'Open Sans', sans-serif;
font-style: italic;
font-size: 9px;

}

body {
  background-color: #F8F9F9
}

#nav {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 15px;
  padding-bottom: 30px;
  margin-top: 10px;
  color: #BDC3C7;
  width: 100%;
  text-align: center;
}

#nav a {
  padding: 10px;
  color: #BDC3C7;
}

#nav a:link {
  color: #BDC3C7;
  text-decoration: none;
  }

.about-text {
  text-align: left;
  width: 60%;
  margin: auto;
}

footer {
  text-align: left;
  padding-top: 100px;
}


/*gallary pages*/

div.img {
    margin: 12px;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 0px
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.missourian {
  padding-top: 40px;
  clear: both;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.row2 {
  clear: both;
}

/*resume*/

#upleft {
   width:400px;
   height: 100%;
   background:none;
   float:left;
   text-align: right;
   padding-right: 30px;
   margin-top: -29px;
}

#resume {
  margin: auto;
  width: 70%;
}

#below {
   height:100%;
   width:100%;
   background:none;
   padding-left: 20px;
}

.button {
    background-color: #b49759; /* Gold */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/*table*/


table {
  font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
